#ytfm-panel
{
border-radius:10px;
}
#ytfm-settings-container
{
margin-top:20px;
margin-left:20px;
}
#ytfm-user-image
{
width:126px;
height:168px;
border:1px solid white;
box-shadow:0px 0px 1px 1px grey;
}
#ytfm-user-container
{
padding-top:30px;
padding-left:10px;
}
#ytfm-loggedinbox
{
margin-bottom:10px;
}
#ytfm-loginbox
{
float:left;
}
.ytfm-login
{
font-size:9pt;

padding:0px;
}
#ytfm-notyou
{
padding-top:5px;
}
#ytfm-userlabel
{
color:#EB337D;
font-weight:bold;

}
