#ytfm-panel
{
border-radius:10px;
}
#ytfm-box
{
background-image:-moz-linear-gradient(top,#444,#777);
}
#ytfm-loggedinbox
{
margin-bottom:10px;
}
#ytfm-loginbox
{
float:left;
}
.ytfm-login
{
font-size:9pt;

padding:0px;
}
#ytfm-notyou
{
padding-top:5px;
}
#ytfm-userlabel
{
color:#EB337D;
font-weight:bold;

}
#ytfm-nowplaying-panel
{
position:absolute;
top:30px;
left:500px;
}
